@font-face {
    font-family: HelveticaNeue; /* Гарнитура шрифта */
    src: url(../fonts/HelveticaNeue.ttf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: HelveticaNeueThin; /* Гарнитура шрифта */
    src: url(../fonts/helveticaneuecyr-thin.otf); /* Путь к файлу со шрифтом */
   }


html, body {margin: 0;	padding: 0;	font-family: Tahoma, sans-serif;	background-color: #dfdfdf;}
 #wrapper {	width: 1120px;	margin: 0 auto;}
.header {	background-color: #00b3ff;	border-radius: 0px 0px 10px 10px;	-moz-border-radius: 0px 0px 10px 10px;	-webkit-border-radius: 0px 0px 10px 10px;	border: 0px solid #000000;	height: 100px; width:100%;}
.minimum{height: 25px;}
.tologo { margin-left: 5%;    width: 45%;    float: left;}
.toavatar {	margin-right: 5%;    width: 45%;    float: left;	margin-top: 7px;}
#logo{margin-top: 7px;}
#minilogo,#miniavatar {margin-top: 2px;}
#minilogo,#miniavatar{ display:none;}
#user_head { float: right;/*margin-top: 25px;*/margin-left: 20px;}

.todelpad {      margin-top: 0 !important;}
.todelpad #user_head  {       margin-top: 0 !important;}
#avatar,#miniavatar{float: right; }
#avatar{
    border: 3px solid white;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
    width: 82px;
    height: 82px;
}
#user_name {color: white;font-size: 18px;text-shadow: -2px -2px 2px rgba(150, 150, 150, 0.66);}
.options a {	text-decoration: none;	color: white;font-size: 15px;	text-shadow: -2px -2px 2px rgba(150, 150, 150, 0.66);}
#search_add {width: 100%;	height: 73px;text-align: center;background-color: #dfdfdf;;	margin-top: 7px;}
#advanced_search {	width: 100%;	min-height: 95px;	text-align: center;	margin-top: 7px;	background-color: #fff;    position: relative;box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.45);}
#advanced_search h1 {      font-weight: 900; color: #004465; font-size: 24px; text-transform: uppercase; margin: 0;     padding: 6px 10px; line-height: 24px; text-align: left;}
.tosearch{  float:left; height: 73px; margin-right: -125px;    width: 811px;}
.formsearch {background:url(../img/toformpoisk.png) no-repeat;  height: 46px; }
.cat {    z-index: 1; position: absolute; background-color: #fff; font-family: HelveticaNeue, sans-serif; float:left;     padding: 7px 10px 9px 20px; border: #dfdfdf solid 1px; border-left: #00b3ff solid 8px; border-radius: 7px 0 0 7px; color: #00547e; font-size: 17px;    margin: 4px 10px;display: block;}
//#advanced_search .dob {position: absolute; left: 200px;}
#dobContainer {position: absolute; left: 200px;}
.dobdop {left: 0px !important;}
.dob { font-family: HelveticaNeue, sans-serif;float:left;     padding: 7px 10px 9px 20px; border: #dfdfdf solid 1px; border-left: #dfdfdf solid 8px; border-radius: 7px 0 0 7px; color: #b5b5b5; font-size: 17px;    margin: 4px 10px;display: block;}
.cat img{    margin-left: 15px;}
.dob img {margin-left: 25px;}
.toobnov {background:url(../img/mew_bill.png) no-repeat; float:left;     width: 434px; height: 73px;}
.toobnov a{ color: white;  text-decoration: none;   font-size: 28px;    font-weight: 900;}


.left_side {width: 321px;	height: 897px;	margin-top: 7px; float: left;}
.menuitem{	text-align: center;	font-family: HelveticaNeue, sans-serif;	background-color: #fff;	/*width: 369px;*/width: 320px;	height: 53px;	line-height: 53px;	margin-bottom: 3px;	display: inline-block;	-moz-border-radius: 5px 0px 0px 5px;	-webkit-border-radius: 5px 0px 0px 5px;	border: 0px solid #000000;   font-size: 23px;	color:#00547e;}
.menuitem:hover{	background-color: #c8f0ff}
.menuitem img{    float: right;    margin-top: 12px;	margin-right: 20px;}
.icons{	/*position: absolute;*/	top: 289px; margin-top:7px; float: left;}
.icons_expand {	top: 214px;	margin-left: -49px;}
#ico {	width: 49px;	height: 39px;	background-color: #00b3ff;	border-radius: 5px 0px 0px 5px;	-moz-border-radius: 5px 0px 0px 5px; -webkit-border-radius: 5px 0px 0px 5px;	border: 0px solid #000000;	margin-bottom: 3px; padding-top: 14px; text-align: center;}
.promo {	height: 305px;	margin-top: 7px;	background: url(../img/reklama.png);	    background-size: cover;}

.boxtoitem { 	    width: 750px;  float: left; margin-top: 7px;	vertical-align: top;}
.boxtoitembig{	width: 100%;}
#grid {	width: 100%; }
.boxtoitembig #grid { margin-left: -5px;    padding-right: 5px;    height: 30px;    width: 1125px;}
#grid_navigation{	width: 745px; height: 28px;	line-height: 28px;	background-color: #fff;  font-family: HelveticaNeue, sans-serif;margin-left:5px;	margin-bottom: 5px;}
.boxtoitembig #grid_navigation{width:100%;margin-left:0;}
.expand, .rollup{	display: inline-block;}
.expand:hover, .rollup:hover,.tosort a:hover,.menuitem:hover,.formsearch button:hover{	cursor:pointer;}
 .miniprew img:hover {cursor:pointer;}

.smal {     position: relative; width: 360px;	height: 200px;	background-color: #fff;  font-family: HelveticaNeue, sans-serif;  border: white solid 5px;float:left;     margin: 0 0 5px 5px;}
.smal .miniprew,.smal .btnoo{display:none}
.smal .prewimg img { width: 200px;height: 200px;cursor: pointer;	  }
.smal .prewimg  {     width: 200px;    height: 200px; padding-right: 7px;    float: left;}
.smal h3,.medium h3,.big h3{color: #8e8e8e; margin: 0;  padding: 2px 0;font-weight: 100;    font-size: 15px;    line-height: 15px;}
.smal p {  margin: 0;    padding: 0; font-size:14px; }
.medium p,.big p {  margin: 0;    padding: 0; font-size:14px;    margin-bottom: 3px;}
.smal .opisanie {float: left;    width: 153px;  font-family: HelveticaNeue, sans-serif; }
.smal .price{color:#689100;    font-size: 29px;    font-weight: 600;}
.smal .minmenu{ display:block; bottom: 0px;    position: absolute;    right: 0px;}
.smal .minmenu a {float:left;    margin-left: 2px;}
.smal .mintext,.smal .maxtext,.smal .minmenu div  {display:none;}


.medium {       margin: 0 0 5px 5px; width: 745px; height: 382px; position: relative;     border: none; background-color: #fff;display: inline-block; }
.medium .prewimg > img {    height: 350px;    width: 350px;   position: absolute;}
.medium .prewimg { padding-right: 1px; height: 350px;  width: 350px;float: left;   }
.medium .maxtext {display:block;}
.medium .minitext {display:none;}
.medium .btnoo{background:#00b4ff; color:white;    text-align: center;    padding: 2px;    font-size: 16px;    margin-top: 10px;}
.aoo{    text-decoration: none;}
.medium .minmenu { float: right; width: 215px;   right: 5px;    bottom: 28px;  }
.medium .price{color:#689100;    font-size: 32px;    font-weight: 600;    float: right;   margin-top: -38px;}
.medium .minmenu div {display:block; color:#00b3ff;    float: right;}
.medium .minmenu img {float: right;    width: 18px;    padding-left: 5px;}
.medium .minmenu  a{    text-decoration: none;float: right;}
.medium .opisanie {       display: inline-block; background: white;     width: 251px; height: 350px; float: left;  padding-left: 10px;padding-right:5px; font-family:HelveticaNeue,sans-serif; }
.medium .miniprew { float: left;     width: 118px; overflow-y: scroll;    height: 350px;display: block;}
.medium .miniprew img {display:block; float:left;    width: 100px; height: 100px;    padding-bottom: 1px;}
.medium .button_expand{    display: inline-block;}
.toblockimg{display: inline-block;    float: left;}
.medium .toramka  {  height: 345px;    padding: 5px;}
.boxtoitembig .medium {      width: 1120px; }
.boxtoitembig .medium .minmenu {   position: absolute;    bottom: 30px;    right: 20px;   }
.boxtoitembig .medium .toblockimg {       width: 469px ; float:left;}
.boxtoitembig .medium .opisanie {    width: 600px;    padding-left: 20px;    padding-right: 20px;}
.boxtoitembig .medium .price{    margin-top: 0px;     text-align: right; float: none;}

.big .toramka {    height: 688px;}
.big .btnoo{background:#00b4ff; color:white;    text-align: center;    padding: 2px;    font-size: 16px;    margin-top: 10px;}
.big {    width: 745px;  height: 749px;     margin:0 0 5px 5px ; background-color: #fff;	float:left;	  background-color: #fff;    position: relative;}
.big .prewimg {    height: 431px; width: 100%;margin: 0 auto;text-align: center;}
.big .prewimg > img {    height: 431px;  /*width: 100%; */    position: relative;}
.big .opisanie {    width: 100%;  display: inline-block;  background: white;    padding-left: 0px;    padding-right: 0px;    float: left;}
.big .toramka{padding: 5px 5px 0 5px;   /* height: inherit;*/}
.big .minitext{display:none;}
.big .miniprew {     width: 735px; float: left;     height: 117px; overflow-x: scroll;      overflow-y: hidden;    display: flex;}
.big .miniprew img {display:block; float:left;    width: 100px; height: 100px;    padding-right: 1px;}
.big .price {color:#689100;    font-size: 30px;    font-weight: 600;    float: right;    margin-top: -40px;}
.big .col1, .big .col2,.big .col3 {float:left;    padding-top: 7px;}
.big .col1 {width:19%;margin-left:1%}
.big .col2 {width:29%;margin-right:1%}
.big .col3 {width:46%; margin:0 2%;}
.big .minmenu div {display:block; color:#00b3ff;    float: right;}
.big .minmenu img {float: right;    width: 18px;    padding-left: 5px;}
.big .minmenu  a{    text-decoration: none;float: right;}
.big .button_rollUp{    display: inline-block;}
.boxtoitembig .big {	height: 850px;    width: 1120px;    background-color: #fff;    margin: 0 0 5px 5px;}
.boxtoitembig .big .miniprew {width: 100%; }
.boxtoitembig .big .prewimg{    height: 532px;}
.boxtoitembig .big .toblockimg {width: 100%;    display: inline-block;}
.boxtoitembig .big .prewimg > img {  height: 531px;}


.hidden { display:none;/*opacity: 0;*/}
.invisible{	display: none!important;}
.button_rollUp{ margin-top:10px;}
.button_expand, .button_rollUp {    height: 22px;   width: 100%;  text-align: center; color: white; background-color: #8e8e8e;   margin-top: 5px;}
.button_expand img, .button_rollUp img {  margin: 7px 10px 6px 10px;    float: left;}
.button_expand:hover, .button_rollUp:hover{cursor:pointer;}
.controlsearch {background:url(../img/tobtmpoisk.png) no-repeat; float:left;  width: 686px;      height: 26px;}
.controlsearch a {float:left;color:white;font-family: HelveticaNeue, sans-serif;text-decoration: none;    font-size: 18px;    padding: 1px 49px;}



.expand img,.rollup img {     margin: 7px 10px 6px;	float: left;}
.expand div,.tosort img,.torez img,.torez div,.torez ,.expand,.rollup ,.rollup div,.rollup img{float: left;color:#8e8e8e; }
.tosort {float:right;    height: 28px;}
.tosort a {float:left;    margin: 0 10px;color:#8e8e8e;}
.torez div {color:#8e8e8e;    margin: 0 10px;}

footer {background:#abaaab; height:20px; width:100%;    margin-top: 18px;        padding: 10px 0; float: left;}
.tofotmin {float:left; width:20%;min-height: 20px;text-align: center;}
.tofotmin a {font-family: HelveticaNeue, sans-serif;color:white;text-transform: uppercase;text-decoration: none;}
.formsearch input {     font-family: HelveticaNeue, sans-serif; width: 366px;   margin-left: 48px;   border: none;   height: 41px;   margin-top: 3px;   font-size: 19px;   float: left;   padding: 0 20px;}
.formsearch button{ float: left;color: white; text-transform: uppercase;text-decoration: none; font-size: 28px; border: none;  background: none;    margin-left: /*106px;*/66px;	font-weight: 900;}
.vis {display: inline-block;;}
.invis {display:inline-block;}
#thumbs img, #largeImage {  cursor: pointer;}
input:focus,button:focus{outline:none;}

.boxssilka {    width: 160px;    margin: 0 auto;}
.boxssilka  div{    float: left;}


.modal_form {	width: 1080px;	 background: #fff;    position: absolute;/* left: 50%; margin-left: -560px; */display: none; opacity: 0; z-index: 5; padding: 20px;    margin-top: 113px;}
#modal_close {	width: 21px;	height: 21px;	position: absolute; top: 10px;	right: 10px; cursor: pointer; display: block;}
#overlay {	z-index: 3; 	position: fixed; 	background-color: #000;	opacity: 0.5;	width: 100%; height: 100%; 	top: 0; 	left: 0; 	cursor: pointer;	display: none; }
.nameform{text-align:right; font-family: HelveticaNeue;font-size: 35px; }
.boxtoinput {}
.num{    float: left;color: white;    font-size: 30px;    background: #00b3ff;    display: block;   padding-top: 2px;    height: 38px;   width: 40px;    text-align: center;    border-radius: 50px;}

form .boxtoinput label {    padding-bottom: 3px; font-family: HelveticaNeueThin;    font-size: 30px;display: block;    width: 100%;}
form .boxtoinput input {    width: 100%;font-family: HelveticaNeueThin;    font-size: 24px; border:1px solid #e1e1e1;}
form .boxtoinput  textarea{width:100%;resize:none;height:200px;font-family: HelveticaNeueThin;    font-size: 24px; border:1px solid #e1e1e1;}
.toin{     margin-top: 5px; float: left;    width: 970px;    display: inline-block;    padding-right: 55px;    padding-left: 15px;}
.minopright{color:#c8c8c8;font-family: HelveticaNeueThin;    font-size: 18px;    text-align: right;}
.todata label,.minlab {font-family: HelveticaNeueThin;    font-size: 30px;float:left;}
//.todata input {    width: 200px !important;    float: left !important;    border: none !important;    padding-left: 10px !important;}
.todata input {    
    width: 130px !important;
    float: left !important;
    margin-left: 10px;
    margin-right: 10px;
}
.todata img{float:left;}
::-webkit-calendar-picker-indicator{ }
::-webkit-calendar-picker-button  { display: none;}
.spoiler_body{     z-index: 10;      z-index: 10;    background-color: #fff;    text-align: left;    width: 120px;}
.tostrel {    width: 30px;    height: 15px; background: url(../img/strela.png) no-repeat;  float: right;    margin-top: 5px;    margin-left: 10px;}
.spoiler_links.active .tostrel { background: url(../img/strelaup.png) no-repeat;}
.moz{background: url(../img/metka_ozhidanie.png) no-repeat;position:absolute;height: 116px;    width: 116px;    top: 0;    left: 0; z-index: 1;}
.mdos{background: url(../img/metka_dostavleno.png) no-repeat;position:absolute;height: 116px;    width: 116px;    top: 0;    left: 0; z-index: 1;}
.mop{background: url(../img/metka_oplacheno.png) no-repeat;position:absolute;height: 116px;    width: 116px;    top: 0;    left: 0;    z-index: 1;}
.smal .moz,.smal .mdos,.smal .mop{    top: -5px;    left: -5px;}
.whitepod{background:white;}

.sravmin h3 { text-align:left !important;   color: #8e8e8e;    margin: 0;    padding: 2px 0;    font-weight: 100;    font-size: 15px;    line-height: 15px;}

.sravmin p{    margin: 0; color:black !important;    padding: 0; text-align:left !important;   font-size: 14px;  margin-bottom: 3px;}
.sravprice .price {    color: #689100;    font-size: 30px;    font-weight: 600;    float: right;    margin-top: -36px;}
.sravimg{    width: 260px;    height: 170px;}
.firstatr{     height: 135px;        padding-top: 125px !important;}
.prewtov{    width: 260px;    position: relative;    height: 250px;}
.oneatr{color:#00547e; border-bottom:1px solid #c1c1c1;    padding: 10px 30px;   width: 105px;        text-align: center;   float: left;    margin-left: 3px;    border-right: 1px solid #c1c1c1;}
.onestr {       float: left;    display: -webkit-inline-box;}
.onestr > div {float:left;     color: #8e8e8e;   width: 260px;    position: relative;text-align: center;    padding: 10px; border-bottom:1px solid #c1c1c1;    border-left: 1px solid #c1c1c1; }
.tabsrav{float: left;    width: 950px;    overflow-x: scroll;}
@media screen and (max-width: 1120) {
	.modal_form {	width: 1000px;	 left: 50%; margin-left: -500px; }
	.toin{    width: 880px;}
}

.file_upload{
    
    position: relative;
    overflow: hidden;
    width: 78px;
    font-size: 1em;        /* example */
    //height: 2em;           /* example */
    //line-height: 2em       /* the same as height */
}

.file_upload > button{
    //float: right;
    /*width: 8em;            
    height: 100%;*/
    border-radius: 10px;
    width: 78px;
    height: 78px; 
    background-image: url(../img/plusimg.png);
    background-repeat: no-repeat;
    cursor: pointer;
    border:0px;
}
.file_upload > div{
    padding-left: 1em      /* example */
}
@media only screen and ( max-width: 500px ){  /* example */
    .file_upload > div{
        display: none
    }
    .file_upload > button{
        width: 100%
    }
}

.file_upload input[type=file]{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(20);
    letter-spacing: 10em;     /* IE 9 fix */
    -ms-transform: scale(20); /* IE 9 fix */
    opacity: 0;
    cursor: pointer
}


.photoUpload{
    
    position: relative;
    overflow: hidden;
    width: 128px;
    font-size: 1em;        /* example */
    //height: 2em;           /* example */
    //line-height: 2em       /* the same as height */
}

/*.photoUpload > button{
    float: right;
    width: 8em;            
    height: 100%;
    border-radius: 10px;
    width: 78px;
    height: 78px;
    background-repeat: no-repeat;
    cursor: pointer;
    border:0px;
}*/
/*.photoUpload > div{
    padding-left: 1em  
}*/
@media only screen and ( max-width: 500px ){  /* example */
    .photoUpload > div{
        display: none
    }
    .photoUpload > button{
        width: 100%
    }
}

.photoUpload input[type=file]{
    position: absolute;
    left: 0;
    top: 0;
    /*width: 100%;
    height: 100%;*/
    transform: scale(20);
    letter-spacing: 10em;     /* IE 9 fix */
    -ms-transform: scale(20); /* IE 9 fix */
    opacity: 0;
    cursor: pointer!important;
}

.addCat{
    vertical-align: middle;
    border-radius: 5px;
    width: 17px;
    height: 17px;
    background-image: url(../img/plusimg.png);
    background-repeat: no-repeat;
    cursor: pointer;
    border: 0px;
    background-size: cover;
}

td {
    text-align: center;
}

.ad_bubble_delete_wrap {
  position: absolute;
  z-index: 10;
  right: 0px;
  top: 0px;
  background: #222;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  /* -webkit-transition: opacity 100ms linear; */
  /* -moz-transition: opacity 100ms linear; */
  /* -o-transition: opacity 100ms linear; */
  /* transition: opacity 100ms linear; */
}
.ad_bubble_delete {
  background: url(../img/closing_cross.gif) no-repeat;
  width: 7px;
  height: 7px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -o-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
}
.ad_bubble_delete_wrap:hover {
  opacity: 1;
  filter: none;
}
.ad_top_bubble {
  //display: none;
  position: absolute;
  right: 0;
  top: 0;
  color: #FFF;
  //opacity: 0;
  filter: alpha(opacity=0);
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  z-index: 450;
  padding: 4px 0;
}

.btn-buy {
    border: 2px solid red;
    padding: 5px;
    color: red;
    cursor: pointer;
    background-color: white;
    margin-left: 1px;
    margin-right: 1px;
}

.regChosen {
    text-decoration: underline!important; 
    font-weight: bold;
}

.btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    text-decoration: none;
}

.btn-default{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-primary{
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

.btn:hover, .btn:focus {
    color: #333;
    text-decoration: none;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}

.btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

#advancedSearchParamsContainer{
    width: 100%;
    display: inline-block; 
    margin-top: 50px;
    margin-left: 15px;
    margin-bottom: 10px;
}

#advancedSearchParamsContainer h4{
    font-weight: 900;
    color: #004465;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    padding: 6px 10px;
    line-height: 24px;
    text-align: left;
}

.searchParamLabel {
    float: left;
    width:100%;
    text-align: left;
    margin: 3px;
}

#searchParamTable {
    float: left;
}

#searchParamTable td {
    text-align: left;
}

.semichecked{
    opacity: 0.5;
}

#catInfoInSearch {
    width: 100%;
    display: inline-block;
    margin-top: 50px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.adsFoundInCatInfo{
    float: left;
    margin-left: 35px;
}

#whiteList {
    width: 1080px;
    padding: 20px;
    margin-top: 7px;
    background-color: #fff;
    //position: absolute;
    box-shadow: 0px 0px 5px;
}

.infodiv {
    width: 100%;
    height: 40px;
    margin-top: 10px;
}

.infodiv label,.infodiv span {
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    font-family: HelveticaNeueThin;
    font-size: 25px;
}

.btn-link {
    color: #428bca;
    font-weight: 400;
    cursor: pointer;
    border-radius: 0;
    text-decoration:none;
}

.btn-link,.btn-link:active,.btn-link:focus,.btn-link:hover{
    border-color:transparent;
}

.btn-link:focus,.btn-link:hover{
    color:#23527c;
    text-decoration:underline;
    background-color:transparent;
}